.container {
  display: flex;
  justify-content: space-around;
  height: 800px;
  margin: 0px 0px;
  width: 100vw;
  padding-top: 50px;
}

.cards {
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
  text-align: left;
}

.card-content {
  padding-left: 10px;
}

.center-cropped {
  width: 100px;
  height: 100px;
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 50%;
  background-size: 100px;
}
.dog-col {
  border-radius: 5px;
  text-align: center;
  height: 600px;
  box-shadow: 2px 2px 2px #666666;
  width: 600px;
  padding: 0px;
  background: white;
}
.form-col {
  border-radius: 5px;
  border: 1px solid #B19267;
  height: 300px;
  width: 300px;
  padding: 20px;
  margin-bottom: 20px;
}

.rating {
  font-size: 11px;
}

.form-center {
  text-align: center;
  margin-top: 30px;
}

select.form-control.select.required {
  font-size: 14px;
  color: gray;

}

.dog-btn input {
  background: pink;
  background: #B19267;
  border-radius: 50px;
  font-weight: bold;
  margin: auto;
  color: white;
  padding: 5px 20px;
  border: none;
}

.center {
  margin: auto;
}
#rounded-border > a {
  border-radius: 5px;
}
.left {
  text-align: left;
  padding: 20px 20px 0px 20px;
}

.less-margin {
  margin-top: 5px;
}

.dogs-owner {
  padding-top: 30px;
  padding-bottom: 20px;
  color: #B19267;
  font-size: 14px;
}

.owner-name {
  color: #763C00;
}

p {
  font-size: 14px;
}

.card-description {
  font-size: 12px;
}

.dog-btn {
  background: #B19267;
  border-radius: 50px;
  width: 170px;
  font-weight: bold;
  margin: 20px auto;
  font-size: 14px;
  padding: 5px 0px;
}


.dog-btn a {
  color: white;
}

// div.boolean, .simple_form input[type='submit'] {
//   margin-left: 120px;
//   color: pink;
// }

.form {
  font-size: 14px !important;
  text-align: left;
}

.ratings {
  color: #B19267;
  font-size: 12px;
}

.gray {
  color: #D8D8D8;
}

a:hover .gray {
  color: #D8D8D8;
}
.mark-playdate-done-btn {
  margin: 20px auto;
  padding: 5px 0px;
}
.mark-playdate-done-btn a {
  font-size: 25px;
  color: #B19267;
}
.cancel-playdate-btn {
  margin: 20px auto;
  padding: 5px 0px;
}
.cancel-playdate-btn a {
  font-size: 25px;
  color: #B19267;
}
.playdate-actions {
  display: flex;
}
