.container {
  display: flex;
  justify-content: space-around;
  height: 800px;
  margin: 0px 0px;
  width: 100vw;
  padding-top: 20px;
}

.cards {
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
  text-align: left;
}

.card-content {
  padding-left: 10px;
}

.center-cropped {
  width: 100px;
  height: 100px;
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 50%;
  background-size: 100px;
}
.dog-col {
  border-radius: 5px;
  text-align: center;
  height: 600px;
  box-shadow: 2px 2px 2px #666666;
  width: 600px;
  padding: 0px;
  background: white;
}
.owner-col {
  border-radius: 5px;
  border: 1px solid #B19267;
  text-align: center;
  height: 620px;
  width: 300px;
}

.rating {
  font-size: 11px;
}

.center {
  margin: auto;
}
#rounded-border > a {
  border-radius: 5px;
}
.left {
  text-align: left;
  padding: 20px 20px 0px 20px;
}

.less-margin {
  margin-top: 5px;
}

.dogs-owner {
  padding-top: 30px;
  padding-bottom: 20px;
  color: #B19267;
  font-size: 14px;
}

.owner-name {
  color: #763C00;
}

p {
  font-size: 14px;
}

.card-description {
  font-size: 12px;
}

.dog-btn {
  background: #B19267;
  border-radius: 50px;
  width: 120px;
  font-weight: bold;
  margin: auto;
}

.dog-btn a {
  color: white;
}
