.log-in-form-container {
  box-shadow: 0.2px 0.2px 2px 2px rgba(177, 146, 103, 0.3);
  // margin-right: 500px;
  width: 500px;
  position: absolute;
  left: 100px;
  top: 300px;
  background-color: #F3EFEA;
  padding: 50px;
}
.log-in-form-container a {
  color: black;
}
.log-in-form-container h2 {
  margin-bottom: 40px;
  margin-top: 5px;
  font-weight: 600;
}
.login-background {
  color: black;
  text-align: left;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  height: 100vh;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.form-check input {
  margin-right: 10px;
}
.form-links {
  line-height: 40px;
}
.log-in-btn input{
  padding: 7px 35px;
  margin-top: 20px;
  font-weight: bold;
}
.log-in-btn {
  text-align: center;
}
#signup-link a {
  font-weight: bold;
  color: #763C00;
}
