<div class="playdate-container">
  <div class="left-side">
    <div class="playdate-col-lg-8 playdate-dog-col">
      <div class="playdate-center" id="playdate-rounded-border">
        <%= image_tag @dog.images_url[0], alt: @dog.name, width: 400 %>
      </div>
      <div class="playdate-left">
        <h2 class="playdate-less-margin"><%= @dog.name %></h2>
        <p class="playdate-less-margin"><%= @dog.breed %></p>
        <p><%= @dog.description %></p>
      </div>

    </div>

  </div>


  <div class="right-side">

  </div>
</div>


<%#= new_dog_playdate GET    /dogs/:dog_id/playdates/new(.:format)                                                    playdates#new
 %>
