.container-dogs-reviews {
  display: flex; /* or inline-flex */
  // flex-wrap: nowrap;
  justify-content: space-around;
  // align-items: flex-start;
  padding-top: 35px;
}


body {
  margin: 0;
}

.flex-left-column {
  display: flex;
  flex-direction: column;
}

.flex-space-between-monkey {
  display: flex;
  justify-content: space-between;
  padding-bottom: 15px;
}
