.dog-btn {
  background: #B19267;
  border-radius: 50px;
  width: 120px;
  font-weight: bold;
  margin: auto;
}


.dog-btn a {
  color: white;
}

.dog-btn input {
  background: pink;
  background: #B19267;
  border-radius: 50px;
  font-weight: bold;
  margin: auto;
  color: white;
  padding: 5px 20px;
  border: none;
}

.card-category-monkeys {
  border: 1px solid #B19267;
  padding-top: 15px;
  background-size: cover;
  background-position: center;
  display: flex;
  height: auto;
  width: 50vw;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.form-container-monkeys {
  padding-top: 65px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.center-button-container-monkeys {
  display: flex;
  justify-content: center;
  align-items: center;
}

// .inline-items-monkeys {
//   display: flex;
// }

.date.form-control{
display: inline-block;
width: 32%;
margin-right: 5px;
}

.form-font-monkeys {
    font-family: "Montserrat", "Helvetica", "sans-serif";
    color: #333333;
    font-weight: 700;
}

.heading-monkeys {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 1px;
}

.heading-font-monkeys {
  font-family: "Montserrat", "Helvetica", "sans-serif";
  color: #333333;
  font-weight: 600;
}
